body
{
    text-align: center;
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}

.my_nav_bar{
    position: sticky;
    top: 0;
    z-index: 99999;
}

#video1{
    width : 80%;
}

marquee{
    background-color: blue;
}

.map{
    width: 500px;
    height: 400px;
}